:root {
  --headers-color: #212121;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
}

* ::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  font-size: 14px;
  color: var(--main-text-color);
}

.nav,
.list,
.crew_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  display: flex;
}

.nav .nav-element + .nav-element {
  margin-left: 50px;
}

.adress-element + .adress-element {
  margin-left: 50px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.second_half {
  margin-right: 93px;
  color: var(--headers-color);
}

.second_half_footer {
  display: block;
  margin-bottom: 20px;
  color: var(--bg-color);
}

.page_nav,
.portf {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--headers-color);
  text-decoration: none;
}

.page_nav,
.adress_link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.first_half,
.activev {
  color: var(--accent-color);
}

.adress_link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--main-text-color);
  text-decoration: none;
}

.header > .list {
  display: flex;
  margin-left: auto;
}
.page_nav:hover,
.adress_link:hover,
.page_nav:focus,
.adress_link:focus,
.adress_link_footer:focus,
.adress_link_footer:hover {
  color: var(--accent-color);
}

.hero {
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--dark-bg-color);
  text-align: center;
  font-family: var(--text-font-family);
}

.page_header {
  font-weight: 900;
  font-size: 44px;
  color: var(--bg-color);
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}
.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--bg-color);
  cursor: pointer;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.flex-list {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.pros-item + .pros-item,
.image-item + .image-item {
  margin-left: 30px;
}

.section_header {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--headers-color);
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.paragraf_head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headers-color);
}

.blank_link {
  text-decoration: none;
}

.intro-paragraf {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--headers-color);
  text-transform: uppercase;
}

.intro-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.text {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.crew_head {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--headers-color);
}

.alt_section {
  background-color: var(--light-bg-color);
}

.crew_el {
  text-align: center;
  background-color: var(--bg-color);
}

.portf_btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--headers-color);
  background-color: #f5f4fa;
  cursor: pointer;
}

.portf-el {
  text-align: center;
}

.defoult-btn,
.portf_btn:hover,
.portf_btn:focus {
  color: var(--bg-color);
  background-color: var(--accent-color);
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--dark-bg-color);
}

.adress_location {
  display: block;
  padding: 0;
  color: var(--bg-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress_link_footer {
  display: block;
  margin-top: 9px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
